{% extends "layout.html" %}

{% block body %}

<div class="container mt-5" id="d">
  <div class="card shadow-sm">
    <div class="card-body">
      <h1 class="card-title text-center mb-4">To Do List</h1>

      <form method="get" action="/tasks">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" name="name" id="name" placeholder="Enter task name" class="form-control">
        </div>

        <div class="mb-3">
          <label for="date" class="form-label">Date</label>
          <input type="date" id="date" name="date" class="form-control">
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Add Task</button>
        </div>
      </form>
      <form action="/tasks">
        <div class="d-grid">
          <br>
          <button type="submit" class="btn btn-secondary">See your tasks</button>
        </div>
      </form>
    </div>
  </div>
</div>
<style>
#d {
  margin: 0 auto;
  text-align: center;
}
</style>


{% endblock %}
